*{
    margin: 0%;
    padding: 0%;
}
#services{
    padding: 50px 0px;
}
.services-info{
    text-align: center;
}
.services-info h1{
    font-size: 50px;
    color: rgb(107, 106, 106);
}
.services-info p{
    font-size: 30px;
    font-weight: bold;
    color: red;
}
.services-row{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-auto-rows:minmax(150px, auto);
    grid-gap: 3em;
    justify-content: center;
}
.services-box{
    box-shadow: -5px -5px 3px rgb(17, 17, 17);
    padding: 10px;
    border: 4px solid red;
    color: rgb(19, 18, 18);
    background-color: gray;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    word-spacing: 4px;
}
.services-box:hover{
    background-color: rgb(12, 12, 12);
    color: rgb(240, 231, 231);
}


