*{
  margin: 0px;
  padding: 0px;
  }
#about{
    padding: 100px 0px;
    background-color: rgb(243, 238, 238);
  }
  .about-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
margin: 20px 40px;
  }
  .about-right-col h1{
    flex-basis: 50%;
    font-size: 35px;
font-weight:bolder;
color: rgb(150, 145, 145);
word-spacing: 2px;
  }
  .about-right-col h2{
    flex-basis: 50%;
    font-size: 35px;
    font-weight:bolder;
    color: #ee0b0b;
    word-spacing: 2px;
    line-height: 40px;
  }
  .about-right-col p{
    flex-basis: 50%;
    font-size: 25px;
    font-weight:bolder;
    color: #0f0f0f;
    word-spacing: 2px;
    line-height: 40px;
    text-transform: capitalize;
  }
  .about-left-col{
    flex-basis: 50%;
    text-align: center;
  }
  .about-left-col img{
   width: 80%;
  }
  .btn{
    display: flex;
     padding: 1rem 2rem;
     outline: none;
     border: 5px solid rgb(235, 9, 9);
     font-size: 1rem;
     color: rgb(252, 252, 253);
     background-color:goldenrod;
     border-radius: 50px;
     cursor: pointer;
     transition: 4s;
     text-align: center;
     margin-left: 50px;
     }
     #bo{
      margin-left: 120px;
    }
     .btn:hover{
         background-color: rgb(12, 12, 12);
         color: rgb(253, 250, 250);
         border: 5px solid  goldenrod;
     }








